.container {
  width: 98vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 450px;
  height: 270px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
.main #h {
  font-family: monospace;
  padding-top: 11px;
}

.main .para {
  font-size: 10px;
  font-family: monospace;
  padding-bottom: 20px;
}

input {
  width: 58px;
  height: 70px;
  border-radius: 4px;
  text-align: center;
  font-size: 50px;
  border-color: rgb(228, 235, 235);
}
::placeholder {
  color: rgb(179, 184, 184);
}

input:focus {
  outline-color: blue;
}

.footer {
  width: 440px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer p {
  width: 62%;
  background-color: rgba(231, 224, 224, 0.815);
  padding: 5px;
  border-radius: 3px;
  font-size: 11px;
  color: rgb(165, 161, 161);
}
